<h1>Hello from Admin</h1>

<%= form_with model: @resource, local: true do |form| %>
  <%= form.text_field :name, placeholder: "Name" %><br>

  <%= form.file_field :file, multiple: true %><br>
  <%= form.submit %>
<% end %>

<% @resources.each do |resource| %>
  <h1><%= resource.name %> </h1>
<% end %>